
.tour-start-btn {
    position: fixed;
    bottom: 3vh; 
    right: 3vw;
    width: 3.75rem; 
    height: 3.75rem;
    border-radius: 50%;
    background-color: rgba(98, 119, 112, 1);
    color: white;
    border: none;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 750;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour-start-btn:hover {
    background-color: rgba(98, 119, 112, 0.55);
    transform: scale(1.1);
}


.driver-popover.solar-theme {
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5rem; 
    padding: 1rem;       
    
    width: 90vw;
    max-width: 20rem; 
    
    background-color: white;
    color: #333;
}

.driver-popover-title {
    color: #2563eb;
    font-size: 1.125rem; 
    font-weight: bold;
    margin-bottom: 0.5rem; 
}

.driver-popover-description {
    font-size: 0.875rem; 
    line-height: 1.5;
}



